<!DOCTYPE html>
<html ng-app="movieflix">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MovieFlix Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/catalog.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-loader/angular-loader.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="https://use.fontawesome.com/68f4c492b0.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers/title.controller.js"></script>
    <script src="services/title.service.js"></script>
    <script src="js/common.js"></script>
</head>

<body>
  <div id="mymainheader">
    <div id="headerbox1">
      <div id="headerbox2">
        <div id="headertitlediv">
          <h1 id="headertitleh">MOVIEFLIX</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="mainsite">
    <div id="menudiv">
      <ul class="menu">
        <li><a href="#">Home</a>
        <ul>
            <li><a href="#" class="documents">Add a New Title</a></li>
        </ul>
        </li>
        <li><a href="#">Admin</a>
        <ul>
            <li><a href="#" class="documents">Add a New Title</a></li>
        </ul>
        </li>
        <li><a href="#">Account</a>
        <ul>
            <li><a href="#" class="documents">Logout</a></li>
        </ul>
        </li>
      </ul>
    </div>
    <div id="mainsitecontainer" ng-controller="TitleController as titleVm">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div id="optionsbox" class="mymargin">
        <div id="sortbox">
          <fieldset id="sortoptionenable" disabled="true">
              <legend><input type="checkbox" ng-checked="false" ng-click="titleVm.toggleDisabled('sortoptionenable')"/>Sort by:</legend>
              <input type="radio" id="sortmoviesimdb" ng-model="titleVm.sortoption" value="sortmoviesimdb" />Top IMDB rated Movies 
              <input type="radio" id="sorttvimdb" ng-model="titleVm.sortoption" value="sorttvimdb" />Top IMDB rated TV-Series <br />
              <input type="radio" id="sortbothimdb" ng-model="titleVm.sortoption" value="sortbothimdb" />Top IMDB rated Movies and TV-Series <br />
              <input type="radio" id="sortbothyearrelease" ng-model="titleVm.sortoption" value="sortbothyearrelease" />Year of Release 
              <input type="radio" id="sortbothvotes" ng-model="titleVm.sortoption" value="sortbothvotes" />Most Voted Movies and TV-Series in IMDB <br />
              <input type="submit" value="Sort" ng-click="titleVm.mySort()" />
          </fieldset>
        </div>
        <div id="filterbox">
          <div id="spacer"></div>
          <fieldset id="filteroptionenable" disabled="true">
              <legend><input type="checkbox" ng-checked="false" ng-click="titleVm.toggleDisabled('filteroptionenable')" />Filter by:</legend>
              <input type="checkbox" name="typefilteroption" value="type" class="leftleftfloat" /><div class="leftleftfloat">Type &nbsp;&nbsp;</div> 
              <div id="dd" class="wrapper-dropdown-5" tabindex="1" onClick="toggleOptions('dd')">&nbsp;
    						<ul class="dropdown">
    							<li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i>Movies</a></li>
    							<li><a href="#"><i class="fa fa-television" aria-hidden="true"></i>TV Series</a></li>
    						</ul>
    					</div><br/><br/>
              <input type="checkbox" id="yearfilteroption" value="year" ng-checked="false" />Year&nbsp;&nbsp;
              <input type="text" id="yearfilteroptiontext" placeholder="Enter year here..." /><br/><div id="spacer"></div>
              <input type="checkbox" id="genrefilteroption" value="genre" ng-checked="false" />Genre 
              <input type="text" id="genrefilteroptiontext" placeholder="Enter genre here..." /><br/><div id="spacer"></div>
              <input type="checkbox" id="namefilteroption" value="genre" ng-checked="false" />Search by name
              <input type="text" id="namefilteroptiontext" placeholder="Enter name to search..." /><br/>
              <input type="submit" value="Filter"  ng-click="titleVm.myFilterF()" />
          </fieldset>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="sepline"></div>
      <div class="spacer"></div>
      <div id="cataloglist" class="divborder mymargin" ng-init="titleVm.populateGrid()">
        <table id="catalogtable">
        </table>
        <br/>
        <div id="navbuttons" class="mymargin">
          <button id="prevbutton" disabled>Previous Page</button>
          <button id="nextbutton" disabled>Next Page</button>
        </div>
      </div>
        
    </div>
  </div>
</body>

</html>